* {
  font-family: Courier New;
 

}


.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerStats-container {
  display: flex;
  gap: 10px;
}

.playerStats-container > h3 {
  margin-right: 10px;
}

.playerStats-crab-img {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.header-btn-container {
  display: flex;
}

/* shop toggle btns */  

.active-btn {

}

.disabled-btn {
  
}



/* main container stlyes */
.container {
  display: flex;
  flex-direction: column; 
}

.center-content-container {
  display: flex; 
}



  .catch-log-container {
    width: 20vw;
    max-height: 40vh;
    
  }

  .catch-log-messages {
  overflow: scroll;
  max-height: 100%;
  
  }

  

.shop-cards-container {
    display: grid;
    width: 650px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
      overflow-x: hidden;
      overflow-y: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px black;
  border-radius: 20px;
  padding: 1px;
  width: auto;
  height: auto;
  grid-column: span 1; /* each item should span 1 column */
  grid-row: span 1; 
  min-width: 0; 
  min-height: 0;
  

}

.card:hover {
    cursor: pointer;
}

.card-type {
  margin: 0;
  text-align: center;
  padding: 0.05rem;
  width: 90%;
  color: #ffffff;
  border-radius: 15px;
  font-size: small;
}

.card-type-bait {
  background-color: green;

}

.card-type-action {
  background-color: blue;

}

.card-type-companion {
  background-color: red;

}

.card-title {
  margin: 0;
  font-size: small;
}

.card-description {
  text-align: center;
  margin: 0;
  font-size: smaller
}

.card-image {
  height: 22%;
  width: 22%;
  border-radius: 50%;
}


.card-cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1px;
  height: 15%;
  width: 15%;
  background-color: gold;
  border-radius: 50%;
  border: solid 1px black;
}






/* rockpool syling  */
.rockpool-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}



/* pool syling  */
.pool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; 
  width: 200px; 
  border-radius: 50%;
  border: solid 2px black;
}

.pool-container:hover {
  cursor: pointer;
}

.active-pool {
  background-color: aqua;
}


/* tide table  */
.tg  {
  border-collapse:collapse;border-spacing:0;}

  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}


.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}


.tg .tg-baqh{text-align:center;vertical-align:top}

.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}

.playerHand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 0;
  height: auto;
  margin-left: 20px;

 
}

.playerHand-active {
  display: grid;
  width: 500px;
  height: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
    overflow-x: hidden;
    overflow-y: hidden;
padding: 3px;
}

.playerHand-held {
  display: grid;
  width: 500px;
  height: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
    overflow-x: hidden;
    overflow-y: hidden;
  border:  grey solid 5px;
  padding: 3px;

  
}

.gameController-buttons {
  display: flex; 
  gap: 2rem;
  width: 150px;
  margin-left: 12rem;
 
}

/* .playerHand-held > .card {
  height: 100px;
  width: 50px;
  font-size: 8px;
  padding: 1px;
}

.playerHand-held > .card > .card-title {
  font-size: 10px;
}


.playerHand-held > .card > .card-type {
  padding: 0 */

