
  #map {
    
    z-index: 0;
    height: 100vh;
    width: 100vw
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .start-screen {
    /* background-image: url(imgs/flag-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    z-index: 2
  }

  .start-screen-box {
    background-color: #253449f5;
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index: 10;
    width: 550px;
    height: 100vh;
    
   
}
  

  .quiz-category {
    
  display: flex;
  flex-direction: column;
  margin: 25px;
  color:rgb(37, 52, 73);
  }

  .sidebar {
    display: flex;
    color: rgb(37, 52, 73);;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    left: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    background-color: aliceblue;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.backBtn { 
    position: absolute;
    top: 10px;
    left: 10px;
    height: 42px;
    width: 42px;

}


  #generate-marker {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(37, 52, 73);;
    height: 45px;
    width: 125px;
    padding: 3px;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    border-style: solid; 
    border-color: rgb(37, 52, 73);
    border-width: 6px;
  }

  button:disabled {
    opacity: 0.3;
    cursor: default;
}


  #submit-btn {
    /* position: absolute;
    top: 30px;
    left: 10px; */
    z-index: 1;
  }

  #country-labels-toggle {
    z-index: 1;
    position: absolute;
    top: 30px;
   
  }
  
  .question {
    
    display: flex;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    font-size: 26px;
    padding: 0.25em; 
    margin-bottom: 0.7em;
    margin-top: 0.1em;
    border-radius: 12px;
    border-style: solid; 
  border-color: rgb(37, 52, 73);
  border-width: 6px;
 
}

.check {
  font-size: 84px;
  padding: 0.1em
}

.start-screen-icon {
  font-size: 84px;
  color: black;
}

.score {
  text-align: center;
    justify-content: center;
    align-items: center;
   
    height: fit-content;
    width: fit-content;
    font-size: 48px;
    
  padding: 0.1em;
  border-radius: 12px;
  margin-top: 15px;
}

.emoji {
  font-size: 126px;

}

.landmark-img {
  height: 250px;
    width: 300px;
}

.country {
    position: absolute;
    top: 30px;
    left: 300px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    padding: 0.65em; 
    margin-bottom: 0.7em;
    margin-top: 0.1em;
    border-radius: 12px;
 
}

.marker-label  { 
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important; 
    background-color: white !important; 
    height: fit-content !important; 
    width: fit-content !important; 
    padding: 0.50em !important;
    border-radius: 20px !important;
}

.correct {
  border-style: solid; 
  border-color: #55F991;
  border-width: 8px;

}

.incorrect {
  border-style: solid; 
  border-color: #e30909;
  border-width: 8px;

}

.hint-icon-box {
  display:flex; 
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;

}

.hint-icons {
  font-size: 32px;
}

.fa-solid {
  color: rgb(37, 52, 73, 0.9); 
}

.active {
  /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
		transform: scale(0.85);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}

#play-button {
  position: absolute;
  left: 50px;
  top: 200px;
  color: #253449f5;
  border-color: aliceblue;
  width: 250px;
  padding: 5px;
  z-index: 30;
}

.wrapper{
  position: absolute;
  top: 325px;
  left: 900px;
  margin
}

.item {
  transition: .5s;
  position: absolute;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0;
  font-size: 3em;
  font-family: sans-serif;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.controls{
  position: absolute;
  top: 300px;
  left: -5px;
  width: 99%;
  text-align: center;
}
.left, .right{
  display: inline-block;
  margin-left: 400px;
  color: #253449f5; 
  font-size: 3em;
  cursor: pointer;
}

.title {
  position: absolute;
  color:aliceblue;
  top: 80px;
  left: 50px;
  font-size: 80px;
}

.info {
  position: absolute;
  color:aliceblue;

  top: 350px;
  left: 50px;
}

.globe {
  position: absolute;
  left: 735px;
  padding: 20px;
  height: 400px;
  width: 400px;
}