body {
  font-family: 'Chivo Mono', monospace;
  background-color: rgba(37, 52, 73, 0.962); 
  background-image: url(imgs/map1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  font-size: 32px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  


    
}

.startOfGame {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: fit-content;
    max-width: 400px;
    min-width: 400px;
    max-height: 600px;
    min-height: 600px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(254, 251, 251, 0.7)
}

audio {
    display: block;
    visibility: visible;
  }

#mute-button {
background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
  }
  
  #mute-button:hover {
    color: #666;
  }

h1 {
    color: black;
     font-size: 48px;
     padding: 5%;
     border-color: black;
     border-width: 8px;
     border-style: solid;
     border-radius: 12px;
 
 }

.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    max-width: 400px;
    min-width: 400px;
    max-height: 600px;
    min-height: 600px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(254, 251, 251, 0.2)
    
    
}

.quizWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    max-width: 400px;
    min-width: 400px;
    max-height: 600px;
    min-height: 600px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(254, 251, 251, 0.2)
}

.red1 {
    background-color: rgba(244, 8, 8, 0.3)
}

.red2 {
    background-color: rgba(244, 8, 8, 0.6)
}

.green {
    background-color: rgba(10, 249, 10, 0.2)

}


.question {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 125px;
    width: fit-content;
    font-size: 30px;
    padding: 0.65em; 
    margin-bottom: 0.7em;
    margin-top: 0.1em;
    border-radius: 12px;
 
}



button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:50px; 
    width:300px;
    border-style: solid;
    background-color: white;
    margin: 3px; 
    cursor: pointer;
    font-size: 20px;
    padding: 0; 
    border-radius: 12px;
    font-weight: 800;
    
    

    
}

.score {
   
    margin-top: 20px;
    padding-top: 15px;
    height: 40px; 
    width:100px;
    border-color: whitesmoke;
    color: whitesmoke;
    border-width: 8px;
    border-style: solid;
    text-justify: center;
   text-align: center;
   border-radius: 12px;

   
}



.correct {
    border-style: solid; 
    border-color: rgb(47, 255, 0);
    border-width: 8px;

}

.incorrect {
    border-style: solid; 
    border-color: rgb(255, 30, 0);
    border-width: 8px;
}


.message {
    display: none;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    height: fit-content;
    width:fit-content;
    background-color: white;
    min-height: 10px;
    font-size: 15px;
    padding: 0.65em; 
    margin-bottom: 0.7em;
    margin-top: 10px;
    
    border-radius: 12px;
   
}

#timer {
    text-justify: center;
   text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 2px;
}


.endOfGame {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    max-width: 400px;
    min-width: 400px;
    max-height: 600px;
    min-height: 600px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(254, 251, 251, 0.8)
}
