.container {
  margin: 0;
  display: flex;
  flex-direction: row;  
  /* font-family: 'Source Code Pro', monospace; */
font-family: 'Work Sans', sans-serif;

}


.sidebar-container {
  background-color: rgb(80, 78, 78);
  transition: width 0.5s ease-in-out;
  width: 120px;
  height: 100vh;
  margin-right: 15px;
}

.sidebar-container.expanded {
  width: 250px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.sidebar-header svg {
  color: white;
  border-radius: 50%;
  border: white solid;
  padding: 5px;
  font-size: 32px;
  margin-top: 15px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

.sidebar-section {
  margin-bottom: 30px;
}

.section-title {
  display: flex;
  margin-bottom: 2px;
}

.sidebar-section svg {
  margin-right: 10px;
  font-size: 32px;
  color: white;
}

.unexpanded-icon {
  border: blueviolet solid 6px;
  padding: 5px;
  font-size: 32px;
  border-radius: 4px;
  margin: 2px;
  height: 42px;
  width: 60px;
  color: white;
}

.sidebar-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.sidebar-section p {
  font-size: 20px;
  margin: 0;
  color: white;
}

.calendar-container {
  display: flex;
  height: 100vh;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  

}

.day-container {
    

    width: 100%; 
    border: 0.1rem solid black;
    padding: 1rem;
}


.clickable-span {
  margin-right: 2px;
  border: 1px solid blueviolet; 
 
  padding-left: 2px; 
  padding-right: 2px;
  border-radius: 10%;
}

.clickable-span:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: blueviolet; 
  color: white;

}


select {
  border: none;
  border-radius: 10%;
  cursor: pointer;
  min-width: 12px;
  font-family: 'Source Code Pro', monospace;
  background-color: blueviolet;
  color: white;  

}



.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  border: 2px solid black;
  padding: 22px;
}

.active {
  border: 2px solid blueviolet; 
  color: black;
}

.correct-tab {
  background-color: green;
  color: white; 
}

.incorrect-tab {
  background-color: red;
  color: white
}